{% extends 'mart/basic.html' %}
{% block title %} Check Out {% endblock %}

{% block css %}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

{% endblock %}
{% block body %} 

<div class="container">
	<div class="col my-4">
	<h2>
		Step 1 - My Awesome Cart Express Checkout - Review Your Cart Items 
	</h2>
	<div class="my-4">
		<ul class="list-group" id="items">
 		</ul>
 		<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item active" aria-current="page">Your Total Amount is Rs. <b><span id="totalPrice"></span></b></li>
  </ol>
</nav>
 		
	</div>
</div>
<div class="col my-4">
	<h2>Step 2 - Enter Your Address & Other Details:</h2>

    <form id="payment-form" method="post" action="/mart/checkout/">{% csrf_token%}
		<input type="hidden" name="itemsJson" id="itemsJson">
		<input type="hidden" name="amount" id="amount">
		<input type="hidden" name="source" id="source">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputname">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
    
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address Line 2</label>
    <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="city" name="city">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <input type="text" class="form-control" id="state" name="state" placeholder="Enter Your State">
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="zip_code" name="zip_code">
    </div>
  </div>
  <div class="form-group">
      <label for="inputPhone">Phone Number</label>
      <input type="tel" class="form-control" id="phone" name="phone">
    </div>

  <div class="form-group">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>
        <button type="submit" class="btn btn-primary">Submit Payment</button>


    </form>
</div>
    </div>


 {% endblock %}

 {% block js %}

<script>
	
	if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
console.log(cart);
var sum = 0;
var totalprice = 0;
if ($.isEmptyObject(cart)){
	//if cart is empty
	mystr = `<h5>Your cart is Empty Please add some items in your cart before checking out!</h5>`

$('#items').append(mystr);
}
else
{
for (item in cart){
	let name = cart[item][1];
	let qty = cart[item][0];
	let itemprice = cart[item][2];
	sum = sum + qty;
	totalprice = totalprice + qty * itemprice;
	mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
    ${name}
    <span class="badge badge-primary badge-pill">${qty}</span>
  </li>`

$('#items').append(mystr);
}
}
document.getElementById('cart').innerHTML = sum;
document.getElementById('totalPrice').innerHTML = totalprice;
$('#itemsJson').val(JSON.stringify(cart));

// Create a Stripe client.
var stripe = Stripe('pk_test_51GzMp5F7fzMNQj7XPYRHvt10vx1hR5XYYsIei8GJII2mXAWxm0E7np058PR6GGhhhDPMipZSbMOg5Iedld1GGGG700MLlTyni6');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.on('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}

{% if thank %}
alert('Thanks for purchasing with us. Your order is is {{id}}. Use it to track your order using our order tracker');
localStorage.clear();
document.location = "/mart";
{% endif %}
$('#amount').val($('#totalPrice').html())
</script>

 {% endblock %}